/* Styles for cartItem */

.checkoutItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.836);
  padding: 12px;
  width: 90%;
  height: 200px;
  position: relative;
}

.checkoutItem img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
  gap: 24px;
  height: 75%;
  justify-content: center;
}

.checkoutItemH3 {
  font-size: 1.4rem;
  margin: 0;
}

.imageContainer {
  width: 40%;
  height: 130px;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Styles for Checkout.js */

.checkoutMain {
  gap: 16px;
  justify-content: center;
  padding: 4% 4%;
}

/* CartItemLayout.js */

.cartItemLayoutContainer {
  background-color: rgb(228, 228, 228);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 14px;
  margin-top: 2%;
  gap: 14px;
  max-width: 600px;
}

.checkoutH2 {
  margin: 12px 0px 0px 0px;
  font-size: 1.6rem;
}

.cartTotalPara {
  font-size: 1.5rem;
  font-weight: 600;
}

.priceAndCheckoutBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  width: 575px;
}

/* EmptyCartMsg.js styles  */

.emptyCartContainer {
  box-shadow: 0px 3px 7px 0px rgba(124, 124, 124, 0.208);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 250px;
  border-radius: 8px;
  background-color: #e3e3e35e;
  border: 1px solid black;
}

.emptyCartContainer p:first-of-type {
  font-size: 1.2rem;
}

/* RemoveItemBtn.js styles */

.removeItemBtn {
  border: none;
  background-color: inherit;
  color: rgb(46, 46, 46);
  font-size: 0.9rem;
  align-self: flex-end;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.removeItemBtn:hover {
  text-decoration: underline black;
  color: black;
}