/* Styles for cartItem */

.checkoutItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: lightgrey;
  padding: 12px;
  width: 575px;
  height: 175px;
  position: relative;
}

.checkoutItem img {
  width: 35%;
  height: auto;
  border-radius: 8px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

/* Styles for Checkout.js */

.checkoutMain {
  gap: 16px;
  justify-content: center;
  padding: 2% 4%;
}

h2 {
  margin: 4px 0px;
}

/* EmptyCartMsg.js styles  */

.emptyCartContainer {
  box-shadow: 0px 3px 7px 0px rgba(124, 124, 124, 0.208);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 250px;
  border-radius: 8px;
  background-color: #e3e3e35e;
  border: 1px solid black;
}

.emptyCartContainer p:first-of-type {
  font-size: 1.2rem;
}

/* RemoveItemBtn.js styles */

.removeItemBtn {
  border: none;
  background-color: inherit;
  color: rgb(46, 46, 46);
  font-size: 0.9rem;
  align-self: flex-end;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.removeItemBtn:hover {
  text-decoration: underline black;
  color: black;
}