/* Styles for cartItem */

.checkoutItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.836);
  padding: 12px;
  width: 90%;
  height: 200px;
  position: relative;
  gap: 8px;
  min-width: 400px;
}

.checkoutItem img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
  gap: 24px;
  height: 75%;
  justify-content: center;
  padding: 8px;
}

.checkoutItemH3 {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

.imageContainer {
  width: 40%;
  height: 130px;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Styles for Checkout.js */

.checkoutMain {
  gap: 30px;
  justify-content: center;
  padding: 26px;
  margin-bottom: 14px;
}

/* CartItemLayout.js */

.cartItemLayoutContainer {
  background-color: rgb(228, 228, 228);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 14px;
  margin-top: 2%;
  gap: 14px;
  max-width: 600px;
  min-width: 425px;
}

.checkoutH2 {
  margin: 12px 0px 0px 0px;
  font-size: 1.6rem;
}

.cartTotalPara {
  font-size: 1.5rem;
  font-weight: 600;
}

.priceAndCheckoutBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  width: 575px;
}

/* EmptyCartMsg.js styles  */

.emptyCartContainer {
  box-shadow: 0px 3px 7px 0px rgba(124, 124, 124, 0.208);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 250px;
  border-radius: 8px;
  background-color: #e3e3e35e;
  border: 1px solid black;
}

.emptyCartContainer p:first-of-type {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.emptyCartContainer p:last-of-type {
  margin-left: 28px;
  margin-right: 28px;
  padding: 0px 10px;
  text-align: center;
}

/* RemoveItemBtn.js styles */

.removeItemBtn {
  border: none;
  background-color: inherit;
  color: rgb(46, 46, 46);
  font-size: 0.9rem;
  align-self: flex-end;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.removeItemBtn:hover {
  text-decoration: underline black;
  color: black;
}

@media only screen and (max-device-width: 812px) {
  .checkoutItem {
    flex-direction: column;
    width: unset;
    height: unset;
    min-width: unset;
    padding: 40px 25px;
  }

  .cartItemLayoutContainer {
    width: 95%;
    max-width: unset;
    min-width: unset;
    padding: 34px;
    gap: 24px;
    margin-bottom: 14px;
  }

  .imageContainer {
    width: unset;
  }

  .itemInfoContainer {
    margin-right: unset;
  }

  .priceAndCheckoutBtnContainer {
    flex-direction: column;
    width: unset;
  }

  .checkoutMain {
    padding: 32px 36px;
    gap: 36px;
  }

  .emptyCartContainer {
    width: unset;
    padding: 24px 14px;
    height: unset;
  }

  .emptyCartContainer p:first-of-type {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.5rem;
  }

  .emptyCartContainer p:last-of-type {
    text-align: center;
    margin: 12px 12px;
  }

  ._checkoutH2_1y36u_153 {
    margin: 12px 0px 0px 0px;
    font-size: 1.6rem;
    padding: 15px 20px;
    background-color: darkgrey;
    border-radius: 16px;
  }
}
