@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  --default-font: "Montserrat", serif, "Times New Roman", sans-serif,
    "Open Sans", Arial;
}

* {
  font-family: var(--default-font);
}

button {
  font-family: var(--default-font);
}

.parentWrapperHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
}

.notParentWrapperHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}